body {
    height: 100vh;
    display: flex;
}

.side-panel {
    background-color: #f1f1f1;
    flex: 0 0 30%
}

h1 {
    padding-top: 15px;
}

#main-map {
    flex-grow: 1;
}

.map-control-clown {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
}